
.main-background {
    background-color: gray;
}

.header {
    display: block;
    height: 100px;
}

.img-left {
    height: 50px;
}

.img-right {
    height: 50px;
    border-radius: 25px;
}

.text-header {
     display: inline-block;
     text-align: left;
 }

.center-bar {
    display: block;
    text-align: center;
}

.btn:hover {
    background-color: gray;
    height: 30px;
    width: 60px;
}

.btn {
    height: 30px;
    width: 60px;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
}
